@tailwind base;
@tailwind components;
@tailwind utilities;


.tw-background-image {
    background-image: url('../../../assets/SignUpImage.png');
    background-size: cover;
    background-position: center;
}


@media (max-width: 1000px) { 
    .tw-background-image {
        background-image: none; 
        background-color: #DDBDC2; 
    }
}
