.text-service{
    font-size: 0.7rem;
}

.text-card{
    font-size: 0.8rem;
}


.custom-card{
    border-radius: 2rem;
    width: 20rem;
    display: inline-block;
   
}

.b-card{
    background-color: #7879ED;
    border-color: #7879ED;
    color: white;
}

.b-card:hover {
    background-color: #8151b6; 
    color: white;
    border-color: #8151b6;
}