/* Agrega esto a tu archivo de estilos CSS */
.offer-card {
    background-color: #F0F0FA;
    border-radius: 0.5rem; /* Similar a Tailwind's 'rounded-lg' */
    padding: 1rem; /* Similar a Tailwind's 'p-4' */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; /* Similar a Tailwind's 'mb-4' */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Similar a Tailwind's 'shadow' */
    cursor: pointer;
    transition: all 0.2s; /* Similar a Tailwind's 'transition-all duration-200' */
  }
  
  .offer-card:hover {
    background-color: #ADAEFF; /* Color de fondo al pasar el mouse */
  }
  